<% if flash[:errors] %>
<% flash[:errors].each do |error| %>
<%= error %>
<% end %>
<% end %>
<br>
<br>
<br>


<div class="card" style="width: 28rem;">
    <div class="card-body">
    <h5 class="card-title signup_title">Update Profile</h5>
    <p class="card-text"><%= form_with model: @user do |f|%></p>
    <p class="card-text"><%=f.label :name%></p>
    <p class="card-text"><%=f.text_field :name%></p>
    <p class="card-text"><%=f.label :bio%></p>
    <p class="card-text"><%=f.text_area :bio, size: '45x5', data: { emojiable: true } %></p>


    <p class="card-text"><%=f.submit "Save"%></p>

    <p class="card-text"><%end%></p>

  </div>
</div>