    <br>
    <br>
    <br>

    <div class="card" style="width: 28rem;">
    <div class="card-body">
    <h5 class="card-title signup_title">Sign Up</h5>
    <p class="card-text"><%= form_with model: @user do |f|%></p>
    <p class="card-text"><%=f.label :name%></p>
    <p class="card-text"><%=f.text_field :name%></p>
    <p class="card-text"><%=f.label :username%></p>
    <p class="card-text"><%=f.text_field :username%></p>
    <p class="card-text"><%=f.label :password%></p>
    <p class="card-text"><%=f.password_field :password%></p>
     <p class="card-text"><%=f.label :password_confirmation%></p>
    <p class="card-text"><%=f.password_field :password_confirmation%></p>
    <p class="emoji-picker-container">
    <p class="card-text"><%=f.label :bio%></p>
    <p class="card-text"><%=f.text_area :bio, size: '45x5', data: { emojiable: true }%></p>
    </p>
    <p class="card-text"><%=f.submit%></p>

    <p class="card-text"><%end%></p>

  </div>
</div>