
<div class="container text-left">
<p>Name: <%= @user.name %></p>
<p>Username: <%= @user.username %></p>
<p>Bio: <%= @user.bio %></p>


<br>


<div class="container text-center">
<h3>All My Posts</h3><br>
<% @user.posts.each do |post|%>
<br>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= link_to post.title, post%></h5>
    <p class="card-text"><%= post.content%></p>
  </div>
</div>
<%end%>


<% if @user.id == session[:user_id] %>
<button>
<%= link_to "Edit Profile", edit_user_path(@user) %>
</button>
<% end %>

<br>
<% if @user.id == session[:user_id] %>
<%= form_with url:'/logout', method: "delete" do |f|%>
<%= f.submit "Logout" %>
<% end %>
<% end %>
</div>

