

<p>Username: <%= @user.name %></p>
<p>Bio: <%= @user.bio %></p>


<div class="container text-center">
<p>Most Hated Post</p>
<%= link_to @most_hated.title, post_path(@most_hated) %>


<p>All My Posts</p><br>
<% @user.posts.each do |post|%>
<%= link_to post.title, post%><br>
<%= post.content%><br><br><br>
<%end%>
<button>
<%= link_to "Edit Profile", edit_user_path(@user) %>
</button>

<br>

<%= form_with url:'/logout', method: "delete" do |f|%>
<%= f.submit "Logout" %>

<% end %>
</div>

