<% if flash[:errors] %>
<% flash[:errors].each do |error| %>
<%= error %>
<% end %>
<% end %>


<%= form_with model: @post do |f| %>
<h4><%= f.label :title %></h4>
<br>
<%= f.text_area :title, size: '40x1' %>
<br><br>
<h4><%= f.label :content %></h4>

<%= f.text_area :content, size: '60x5' %>
<br><br>
<%= f.collection_select :category_id, @categories,:id,:name %>
<%= f.hidden_field :user_id, :value => session[:user_id] %>
<br><br>
<%= f.submit %>
<% end %>
