<h1><%= @post.title %></h1>

<h4> Category:
<%= link_to @post.category.name, category_path(@post.category.name.downcase) %>
</h4>

<h3><%= @post.content %></h3>
<br>

<%= button_to "Like", {:controller => 'likes',:action => 'create',:post_id => @post.id}, method: :patch %>


<%= render 'comments/comment' %>

<%= form_with model: @post, method: :destroy do |f| %>
<%= f.submit "Delete Opinion" %>
<% end %>
