
<br>
<br>
<br>
<br>
<br>
<h1><%= @post.title %></h1>
<div class="card" style="width: 40rem;">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Category:
    <%= link_to @post.category.name, category_path(@post.category.name.downcase) %></h6>
    <h6 class="card-subtitle mb-2 text-muted">Written By: <%= link_to @post.user.name, user_path(@post.user.username) %></h6>
    <p class="card-text"><h3><%= @post.content %></h3></p>
    <div>
    <p>Total Loves: <%= @post.likes.count %></p>
    <p>Total Hates: <%= @post.dislikes.count %></p>


    
    <button class = "btn float-right">
  <%= form_with url:"/like", method: :post do |f| %>
  <%= f.hidden_field :post_id, :value => @post.id %>
  <%= f.hidden_field :user_id, :value => session[:user_id] %>
  <%= f.submit "#{@post.likes.count} Love" %>
  <% end %>
</button>
<button class = "btn float-left">
<%= form_with url:"/dislike", method: :post do |f| %>
<%= f.hidden_field :post_id, :value => @post.id %>
<%= f.hidden_field :user_id, :value => session[:user_id] %>
<%= f.submit "#{@post.dislikes.count} Hate" %>
<% end %>
</button>
  </div>
</div>


<%= render 'comments/form' %>
<br>
<% if @post.user_id == session[:user_id] %>
  <button class = "edit-button">
    <%= link_to "Edit Post", edit_post_path %>
    </button>
<% end %>



<br>
<% if @post.user_id == session[:user_id] %>
<%= form_with model: @post, method: "delete" do |f| %>
<%= f.submit "Delete Opinion" %>
<% end %>
<% end %>


<% @post.comments.each do |comment| %>
<br>
<% if comment.content != nil %>
<h4>
"<%= comment.content %>" - <%= link_to comment.user.username, user_path(comment.user.username) %>
</h4>
<% end %>
<% end %>


</div>
