<h1><%= @post.title %></h1>

<h4> Category:
<%= link_to @post.category.name, category_path(@post.category.name.downcase) %>
</h4>

<h3><%= @post.content %></h3>
<br>
<h3>Written By: <%= link_to @post.user.name, user_path(@post.user.username) %></h3>

<%= form_with url:"/like", method: :post do |f| %>
<%= f.hidden_field :post_id, :value => @post.id %>
<%= f.hidden_field :user_id, :value => session[:user_id] %>
<%= f.submit "Like" %>
<% end %>
<br>
<%= form_with url:"/dislike", method: :post do |f| %>
<%= f.hidden_field :post_id, :value => @post.id %>
<%= f.hidden_field :user_id, :value => session[:user_id] %>
<%= f.submit "Dislike" %>
<% end %>
<br>
<p>Total Likes: <%= @post.likes.count %> Total Dislikes: <%= @post.dislikes.count %></p>

<%= render 'comments/form' %>
<br>
<% if @post.user_id == session[:user_id] %>
<%= form_with model: @post, method: "delete" do |f| %>
<%= f.submit "Delete Opinion" %>
<% end %>
<% end %>


<% @post.comments.each do |comment| %>
<br>
<% if comment.content != nil %>
<h4>
"<%= comment.content %>" - <%= link_to comment.user.name, user_path(comment.user.username) %>
</h4>
<% end %>
<% end %>

<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small>3 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small>Donec id elit non mi porta.</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small class="text-muted">Donec id elit non mi porta.</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small class="text-muted">Donec id elit non mi porta.</small>
  </a>
</div>